@import 'variables.scss';
html {
	font-family: 'AkzidenzGroteskBQ-BdCnd', -apple-system, BlinkMacSystemFont,
		'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
	font-size: 14px;
	word-spacing: 1px;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	box-sizing: border-box;
	background-color: #dfe0d9;
	color: $black-color;
}

h1 {
	font-size: 36px;
	line-height: 44px;
	color: $black-color;
	font-weight: bold;
}
