@import 'elements';
@import 'box-sizing';
@import 'variables';

@font-face {
	font-family: 'AkzidenzGroteskBQ-BdCnd';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url('~assets/fonts/AkzidenzGroteskBQ-BdCnd.ttf') format('truetype');
}
@font-face {
	font-family: 'AkzidenzGroteskBQ-BdCnd';
	font-style: normal;
	font-weight: 800;
	font-display: swap;
	src: url('~assets/fonts/AkzidenzGroteskBQ-XBold.ttf') format('truetype');
}
@font-face {
	font-family: 'AkzidenzGroteskBQ-BdCnd';
	font-style: normal;
	font-weight: 200;
	font-display: swap;
	src: url('~assets/fonts/AkzidenzGroteskBQ-Light.ttf') format('truetype');
}
