<template>
	<section class="lobby">
		<div class="container">
			<div class="lobby__container">
				<div class="lobby__container__header">
					<h1>steveroesler’s lobby</h1>
					<img
						:src="require('../../assets/images/lock.svg')"
						alt="lock"
					/>
				</div>
				<div class="lobby__container__game">
					<p>FIFA 19</p>
				</div>
				<Players />
				<div class="ready">
					<div class="ready-container">
						<p>READY</p>
					</div>
					<div class="g-74">
						<img src="../../assets/images/g.svg" alt="" />
						<p>74</p>
					</div>
				</div>
				<LobbyOptions />
			</div>
		</div>
		<nuxt-link tag="div" to="/play" class="play-now flex">
			<span class="w-2/5">
				<p>Play Now</p>
			</span>
			<span class="w-2/5">
				<p>
					4,021 in Queue
				</p>
			</span>
			<span class="w-1/5">
				<img
					:src="require('../../assets/images/arrow-right-white.svg')"
					alt=""
				/>
			</span>
		</nuxt-link>
	</section>
</template>
<script>
import Players from './Players'
import LobbyOptions from './LobbyOptions'

export default {
	components: { Players, LobbyOptions }
}
</script>
<style lang="scss" scoped>
@import 'lobby.scss';
</style>
