<template>
	<div class="lobbyOtions">
		<ul class="lobbyOptions__list">
			<li
				v-for="option in options"
				:key="option.id"
				@click="showContent()"
				class="lobbyOptions__list__item flex"
			>
				<span class="w-2/5">
					<p>{{ option.title }}</p>
				</span>
				<span class="w-2/5">
					<p>
						{{ option.mode }}
					</p>
				</span>
				<span class="w-1/5">
					<img
						:src="require('../../assets/images/arrow-down.svg')"
						alt=""
					/>
				</span>
			</li>
		</ul>
	</div>
</template>
<script>
export default {
	data() {
		return {
			options: [
				{
					id: 1,
					title: 'type',
					mode: 'Competitive'
				},
				{
					id: 2,
					title: 'Gamemode',
					mode: 'Squad Battles'
				},
				{
					id: 3,
					title: 'Lobby Status',
					mode: 'Invite Only'
				}
			]
		}
	}
}
</script>
<style lang="scss" scoped>
@import 'lobbyOptions.scss';
</style>
