@import '../../assets/scss/base/variables';
.lobby {
	&__container {
		padding-top: 16px;
		padding-bottom: 16px;
		&__header {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
		&__game {
			margin-top: 16px;
			margin-bottom: 16px;
			background: $black-color;
			display: table;
			border-radius: 0 10px 10px 0;
			p {
				color: white;
				font-size: 10px;
				letter-spacing: 1.5px;

				padding: 1px 4px 1px 4px;
			}
		}
	}
	.ready {
		padding-top: 16px;
		padding-bottom: 16px;
		display: flex;
		&-container {
			border: 1px solid $black-color;
			padding: 3px;
			display: table;

			p {
				font-size: 10px;
				line-height: 12px;
				letter-spacing: 1.5px;
				font-weight: 800;
			}
		}

		.g-74 {
			display: flex;
			margin-left: 16px;

			p {
				font-size: 10px;
				color: #e94235;
				margin-left: 2px;
			}
		}
	}

	.play-now {
		background: $blu-color;
		padding: 36px 16px;
		color: white;
		align-items: center;
		width: 100vw;

		span:last-child {
			display: flex;
			justify-content: flex-end;
		}
		p {
			font-size: 14px;
		}

		span:first-child {
			p {
				font-weight: 800;
				font-size: 14px;
				line-height: 16px;
				letter-spacing: -0.5px;
			}
		}
	}
}
