@import '../../assets/scss/base/variables';
.lobbyOptions {
	&__list {
		&__item {
			display: flex;
			justify-content: space-between;
			padding-top: 16px;
			padding-bottom: 16px;
			border-top: 1px solid $gray-color;
			span {
				p {
					font-size: 14px;
					line-height: 16px;
					letter-spacing: -0.5px;
					color: $black-color;
					font-weight: bold;
				}

				&:nth-child(2) {
					p {
						font-weight: lighter;
					}
				}
			}

			span:last-child {
				justify-content: flex-end;
				display: flex;
			}
		}
	}
}
