<template>
	<div class="players">
		<SinglePlayer
			v-for="(player, index) in players"
			:key="index"
			:playerInfo="player"
		/>
	</div>
</template>
<script>
import SinglePlayer from './SinglePlayer'
export default {
	components: { SinglePlayer },
	data() {
		return {
			players: [
				{
					id: 1,
					image: require('../../assets/images/avatar.jpg'),
					role: 'Team Leader /',
					name: 'steveroesler'
				},
				{
					id: 2,
					image: null,
					role: 'Team Player /',
					name: null
				}
			]
		}
	}
}
</script>
<style lang="scss" scoped>
@import 'players.scss';
</style>
