@import '../../assets/scss/base/variables';
.single-player {
	margin-right: 16px;

	&__role {
		font-size: 12px;
		line-height: 14px;
		color: #6b6b65;
		padding: 16px 0 10px 0;
	}

	&__name {
		font-size: 16px;
		line-height: 19px;
		font-weight: bold;
		letter-spacing: -0.5px;
	}
}
