<template>
	<div class="single-player">
		<img
			:src="
				playerInfo.image === null
					? require('../../assets/images/rectangle.png')
					: playerInfo.image
			"
			alt=""
		/>
		<p class="single-player__role">{{ playerInfo.role }}</p>
		<p class="single-player__name">
			{{ playerInfo.name === null ? 'Invite Player >' : playerInfo.name }}
		</p>
	</div>
</template>
<script>
export default {
	props: ['playerInfo']
}
</script>
<style lang="scss" scoped>
@import 'singlePlayer.scss';
</style>
