<template>
	<section class="breadcrumbs container">
		<div class="breadcrumbs__container">
			<img :src="require('../assets/images/arrow-back.svg')" alt="" />
			<nuxt-link to="#">Matchmaking Lobby</nuxt-link>
		</div>
	</section>
</template>
<style lang="scss" scoped>
@import 'breadcrumbs.scss';
</style>
