@import '../assets/scss/base/variables';
.breadcrumbs {
	&__container {
		padding: 16px 0;
		border-bottom: 1px solid $gray-color;
		display: flex;
		align-items: center;
		a {
			margin-left: 24px;
			position: relative;
		}
	}
}
