@import '../assets/scss/base/variables';

.nav {
	&.container {
		padding-left: 0;
	}
	&__background {
		position: absolute;
		top: 0;
		right: 0;
		z-index: -1;
	}
}
.logo {
	background: $black-color;
	width: 105px;
	height: 105px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.main-menu {
	display: flex;
	align-items: center;
	&__icons {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		margin-left: 24px;
		span {
			width: 20px;
			height: 3px;
			background: $black-color;
			&:first-child {
				margin-bottom: 5px;
			}
		}
	}
}
