<template>
	<header class="nav container">
		<img
			:src="require('../assets/images/ronaldo-half.png')"
			alt=""
			class="nav__background"
			v-if="showRonaldo"
		/>
		<div class="flex flex-wrap items-center">
			<div class="logo">
				<img
					:src="require('../assets/images/gfinity-logo-neg.svg')"
					alt=""
				/>
			</div>
			<div class="main-menu ml-auto">
				<p>FIFA 19</p>
				<div class="main-menu__icons">
					<span></span>
					<span></span>
				</div>
			</div>
		</div>
	</header>
</template>
<script>
export default {
	data() {
		return {
			showRonaldo: null
		}
	},

	mounted() {
		if (this.$route.path === '/play') {
			this.showRonaldo = false
		} else {
			this.showRonaldo = true
		}
	},
	watch: {
		$route() {
			if (this.$route.path === '/play') {
				this.showRonaldo = false
			} else {
				this.showRonaldo = true
			}
		}
	}
}
</script>
<style lang="scss" scoped>
@import 'theNav.scss';
</style>
