<template>
	<nuxt-link class="back-to-home" tag="div" to="/">
		<img
			:src="require('../../assets/images/arrow-back-white.svg')"
			alt=""
		/>
	</nuxt-link>
</template>
<script>
export default {}
</script>
<style lang="scss" scoped>
@import 'backToHome.scss';
</style>
