@import '../../assets/scss/base/variables';
.back-to-home {
	width: 105px;
	height: 105px;
	background: $black-color;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: -15px;
}
