<template>
	<div class="play__container__content">
		<BackToHome />
		<div class="play__container__content__header">
			<p class="play__container__content__header__subtext">
				Matchmaking Lobby
			</p>
			<h1>
				{{
					$store.state.startPlay === false
						? 'Searching for compatible opponents'
						: 'A match has been found for you!'
				}}
			</h1>
			<p>
				{{
					$store.state.startPlay === false
						? 'We’re searching our database of players to pair you with an opponent of similar skill'
						: 'We’ve found a compatible opponent for you to play Squad Battles with in FIFA 19'
				}}
			</p>
		</div>

		<div class="play__container__content-lobby">
			<p>Lobby</p>
			<div class="play__container__content-lobby-avatar">
				<img src="../../assets/images/avatar-round.png" alt="" />
			</div>
		</div>
		<div class="play__container__content-queue">
			<div><span></span></div>
			<p v-if="$store.state.startPlay">
				By tapping accept, you agree to play a match that may last for
				up to 30 minutes.
			</p>
			<p v-if="$store.state.startPlay === false">
				<span>4,021</span> in Queue
			</p>
		</div>
	</div>
</template>
<script>
import BackToHome from './BackToHome'
export default {
	components: { BackToHome }
}
</script>
<style lang="scss" scoped>
@import 'playContent.scss';
</style>
