.play__container__content {
	&__header {
		margin-top: 40px;
		margin-bottom: 64px;
		h1 {
			color: white;
			font-size: 48px;
			line-height: 44px;
			letter-spacing: -1px;
			margin-top: 24px;
			margin-bottom: 24px;
		}
		p {
			font-weight: lighter;
			font-size: 18px;
			line-height: 22px;
			letter-spacing: -0.75px;
		}

		p:first-child {
			font-size: 16px;
			line-height: 19px;
			font-weight: bold;
		}
	}
	&-lobby {
		display: flex;
		align-items: center;
		&-avatar {
			width: 56px;
			height: 56px;
			border-radius: 50%;
			border: 2px solid white;
			display: flex;
			justify-content: center;
			align-items: center;
			img {
				border-radius: 50%;
			}
		}
		p {
			font-weight: lighter;
			width: 100px;
		}
	}

	&-queue {
		padding-top: 40px;
		padding-bottom: 40px;
		position: relative;
		display: flex;
		div:first-child {
			width: 100px;
			span {
				width: 12px;
				height: 2px;
				background: white;
				position: absolute;
				top: 50%;
				left: 0;
				transform: translateY(-50%);
			}
		}
		p {
			font-weight: lighter;
		}
		span {
			font-weight: bold;
			position: relative;
		}
	}
}
