<template>
	<div
		class="searching-player"
		:class="$store.state.startPlay ? 'changeBackground' : null"
	>
		<p>
			{{ $store.state.startPlay === false ? 'Searching...' : 'Accept' }}
		</p>
		<p>{{ $store.state.startPlay === false ? countDown : '-00:17' }}</p>
		<div class="searching-player__close">
			<img
				v-if="$store.state.startPlay"
				src="../../assets/images/arrow-right-white.svg"
				alt=""
			/>
			<div v-else>
				<span></span>
				<span></span>
			</div>
		</div>
	</div>
</template>
<script>
export default {
	data() {
		return {
			countDown: 6
		}
	},
	created() {
		this.countDownTimer()
	},
	destroyed() {
		this.$store.commit('resetContdown')
	},
	methods: {
		countDownTimer() {
			if (this.countDown > 0) {
				setTimeout(() => {
					this.countDown -= 1
					this.countDownTimer()
				}, 1000)
			}
		}
	},
	watch: {
		countDown() {
			if (this.countDown === 0) {
				console.log('miao')
				this.$store.commit('playerFound')
			}
		}
	}
}
</script>
<style lang="scss" scoped>
@import 'searchingPlayer.scss';
</style>
