@import '../../assets/scss/base/variables';
.searching-player {
	position: absolute;
	right: 0;
	bottom: -50px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: $black-color;
	color: white;
	padding: 36px 24px;
	&.changeBackground {
		background: $blu-color;
	}
	p {
		margin-right: 90px;
		&:last-of-type {
			font-weight: lighter;
		}
	}

	&__close {
		span {
			width: 12px;
			height: 2px;
			background: white;
			position: absolute;
			&:first-child {
				transform: rotate(45deg);
			}
			&:last-child {
				transform: rotate(-45deg);
			}
		}
	}
}
