<template>
	<div>
		<TheNav />
		<nuxt />
	</div>
</template>
<script>
import TheNav from '@/components/TheNav'
export default {
	components: { TheNav }
}
</script>
<style lang="scss">
.container {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;

	@media (min-width: 768px) {
		.container {
			width: 750px;
		}
	}
	@media (min-width: 992px) {
		.container {
			width: 970px;
		}
	}
	@media (min-width: 1200px) {
		.container {
			width: 1170px;
		}
	}
}

.page-enter-active,
.page-leave-active {
	transition-property: opacity;
	transition-timing-function: ease-in-out;
	transition-duration: 500ms;
}
.page-enter,
.page-leave-to {
	opacity: 0;
}
</style>
