<template>
	<main>
		<BreadCrumbs />
		<Lobby />
	</main>
</template>
<script>
import BreadCrumbs from '../components/Breadcrumbs'
import Lobby from '../components/lobby/index'

export default {
	components: { BreadCrumbs, Lobby }
}
</script>
<style></style>
