<template>
	<main>
		<img
			:src="require('../assets/images/ronaldo.png')"
			class="ronaldo-background"
		/>
		<img
			:src="require('../assets/images/shape.svg')"
			class="shape-background"
			alt=""
		/>

		<section class="container">
			<div
				class="play"
				:class="$store.state.startPlay ? 'changeBackground' : null"
			>
				<div class="play__container">
					<PlayContent />
				</div>
			</div>
			<SearchingPlayer />
		</section>
	</main>
</template>
<script>
import PlayContent from '../components/play/PlayContent'
import SearchingPlayer from '../components/play/SearchingPlayer'

export default {
	components: { PlayContent, SearchingPlayer }
}
</script>
<style lang="scss" scoped>
@import '../assets/scss/base/_variables.scss';
main {
	position: relative;
}
.ronaldo-background {
	position: absolute;
	right: 0;
	top: -35px;
	opacity: 0.8;
}
.shape-background {
	position: absolute;
	z-index: -1;
}
.container {
	padding-left: 0;
}
.play {
	background-color: rgba(42, 56, 148, 0.9);
	color: white;
	position: relative;
	padding-bottom: 50px;
	&.changeBackground {
		background-color: rgba($color: $black-color, $alpha: 0.9);
	}

	&:after {
		content: '';
		background: black;
		opacity: 0.9;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		position: absolute;
		z-index: -1;
	}
	&__container {
		padding-left: 15px;
	}
}
</style>
